@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: white;
  margin: 0;
  padding: 0;
  min-width: 100%; }

#container {
  width: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 80px auto 150px; }

@media (max-width: 768px) {
  #container {
    grid-template-rows: 130px auto auto; } }

#header {
  grid-area: header;
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  #header img {
    width: 150%;
    margin-left: 30px; }
  #header ul {
    list-style: none;
    margin-right: 30px;
    display: flex; }
    #header ul .nav-item {
      margin-left: 3em;
      font-family: 'Roboto', sans-serif;
      font-size: 1.1em; }
      #header ul .nav-item a {
        display: block;
        text-decoration: none;
        color: black;
        transition: all 300ms; }
      #header ul .nav-item a:hover {
        transform: scale(1.2);
        color: #00ADFF; }

@media (max-width: 768px) {
  #header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    #header #header-image {
      max-width: 100%; }
      #header #header-image img {
        width: 100%;
        margin: 0; }
    #header ul {
      margin: 0px 0px 20px 0px;
      padding: 0px;
      display: flex;
      flex-flow: column;
      text-align: center;
      justify-content: center; }
      #header ul .nav-item {
        margin: 0px; } }

#main-index {
  grid-area: main;
  background-color: #eee;
  display: grid;
  grid-template-areas: "principal" "ad" "update";
  grid-template-columns: 100%;
  grid-template-rows: 550px 100px auto; }
  #main-index #card-principal {
    grid-area: principal;
    background-image: url(https://media.contentapi.ea.com/content/dam/eacom/images/2022/03/f22-hero-med-futfantasy-7x2-xl.jpg.adapt.crop5x2.1455w.jpg), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    #main-index #card-principal .card {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 3em 0em 0em 5em; }
      #main-index #card-principal .card img {
        width: 60%; }
      #main-index #card-principal .card p {
        font-size: 1.2em;
        color: white;
        font-family: 'Roboto', sans-serif; }
      #main-index #card-principal .card button {
        background-color: transparent;
        border: 2px solid white;
        padding: 1em 5em;
        color: white;
        cursor: pointer;
        transition: all 500ms;
        font-size: 1em; }
      #main-index #card-principal .card button:hover {
        padding: 1.2em 5.3em;
        color: aqua;
        border: 2px solid aqua; }
  #main-index #ad-main {
    grid-area: ad;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #main-index #ad-main p {
      margin-left: 5em;
      font-family: 'Roboto', sans-serif;
      font-size: 1.1em; }
    #main-index #ad-main button {
      background-color: transparent;
      border: 2px solid black;
      color: black;
      cursor: pointer;
      transition: all 1s;
      font-size: 1em;
      margin-right: 5em;
      padding: 10px;
      font-family: 'Roboto', sans-serif; }
  #main-index #card-update {
    grid-area: update; }
  #main-index .wrap {
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee; }
    #main-index .wrap h3 {
      font-family: 'Roboto', sans-serif;
      color: black;
      font-size: 1.6em; }
    #main-index .wrap #section-update {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 20px;
      row-gap: 20px;
      margin-bottom: 20px; }
      #main-index .wrap #section-update .cardupdate {
        box-shadow: 0px 0px 6px black;
        border-radius: 5px; }
        #main-index .wrap #section-update .cardupdate .img-update {
          width: 100%;
          cursor: pointer; }
        #main-index .wrap #section-update .cardupdate span {
          font-size: 0.9em;
          font-family: sans-serif;
          margin: 0em 0.7em; }
        #main-index .wrap #section-update .cardupdate p {
          font-size: 1em;
          font-family: 'Roboto', sans-serif;
          margin: 0em 0.7em; }
        #main-index .wrap #section-update .cardupdate .year-update {
          text-align: center;
          margin-top: 30%;
          font-size: 2em;
          color: #777777;
          font-family: sans-serif;
          cursor: pointer; }

@media (max-width: 768px) {
  #main-index {
    grid-template-rows: 550px 100px auto !important; }
    #main-index .card {
      width: 60% !important; }
      #main-index .card button {
        width: 100%; }
    #main-index #ad-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px; }
      #main-index #ad-main p {
        margin: 10px; }
      #main-index #ad-main button {
        width: 80%;
        margin: 10px 0px; }
    #main-index #section-update {
      display: grid;
      grid-template-columns: 100% !important;
      grid-template-rows: repeat(6, auto) !important;
      column-gap: 20px;
      row-gap: 20px;
      margin-bottom: 20px; } }

.wrap {
  width: 88%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  background-color: #eee;
  padding: 20px; }
  .wrap p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em; }
  .wrap #ubication {
    font-size: 1em; }
  .wrap #contacto-principal {
    width: 50%; }
    .wrap #contacto-principal img {
      width: 60px;
      cursor: pointer; }
    .wrap #contacto-principal button {
      background: transparent;
      border: 2px solid black;
      padding: 1em 3em;
      cursor: pointer; }
  .wrap #contacto-form {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .wrap #contacto-form input, .wrap #contacto-form select, .wrap #contacto-form textarea {
      padding: 20px;
      background-color: #ccc;
      border: none;
      margin: 5px 0px; }
    .wrap #contacto-form #submit {
      background-color: transparent;
      border: 2px solid black;
      cursor: pointer; }

@media (max-width: 768px) {
  .wrap {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; } }

.wrap-nosotros {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto); }
  .wrap-nosotros h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center; }
  .wrap-nosotros .image-nosotros {
    width: 30%; }
  .wrap-nosotros p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding: 0% 5%; }
  .wrap-nosotros button {
    background-color: transparent;
    border: 2px solid black;
    padding: 10px 30px;
    margin-left: 5%;
    cursor: pointer; }
  .wrap-nosotros #quienes-somos {
    background-color: #EFFFFD;
    padding: 0px 0px 0px 20px;
    display: flex; }
  .wrap-nosotros #historia {
    background-color: #B8FFF9;
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: row-reverse; }
  .wrap-nosotros #equipo {
    background-color: #85F4FF;
    padding: 0px 0px 0px 20px;
    display: flex; }
  .wrap-nosotros #mision {
    background-color: #42C2FF;
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: row-reverse; }

iframe {
  width: 100%; }

@media (max-width: 768px) {
  .image-nosotros {
    width: 10%; }
  p {
    font-size: 9px !important; }
  #quienes-somos {
    height: 120px; }
  #historia {
    height: 120px; }
  #equipo {
    height: 120px; }
  #mision {
    height: 120px; }
  button {
    background-color: transparent;
    border: 2px solid black;
    padding: 1px 3px !important;
    font-size: 0.8em !important; } }

h2 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.wrap-juegos1 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  grid-template-areas: "game1 game2 game2" "game1 game3 game4";
  column-gap: 20px;
  row-gap: 20px; }
  .wrap-juegos1 #game1, .wrap-juegos1 #game2, .wrap-juegos1 #game3, .wrap-juegos1 #game4 {
    grid-area: game1;
    background-image: url(https://store-images.s-microsoft.com/image/apps.47379.63407868131364914.bcaa868c-407e-42c2-baeb-48a3c9f29b54.89bb995b-b066-4a53-9fe4-0260ce07e894);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .wrap-juegos1 #game2 {
    grid-area: game2;
    background-image: url(https://i0.wp.com/hipertextual.com/wp-content/uploads/2021/10/FIFA-22-New.jpg?fit=1920%2C1080&ssl=1); }
  .wrap-juegos1 #game3 {
    grid-area: game3;
    background-image: url(https://image.api.playstation.com/cdn/UP0001/CUSA05904_00/IKYAgcRh0k3IOklJSDoNBTk5t5MSm7KE.png); }
  .wrap-juegos1 #game4 {
    grid-area: game4;
    background-image: url(https://i.blogs.es/6ded62/gta-v/1366_2000.jpeg); }

.wrap-juegos2 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-template-areas: "game5 game6 game7" "game8 game8 game8";
  column-gap: 20px;
  row-gap: 20px; }
  .wrap-juegos2 #game5, .wrap-juegos2 #game6, .wrap-juegos2 #game7 {
    grid-area: game5;
    background-image: url(https://s1.eestatic.com/2016/03/15/elandroidelibre/el_androide_libre_109751102_180076813_1706x960.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .wrap-juegos2 #game6 {
    grid-area: game6;
    background-image: url(https://i0.wp.com/hipertextual.com/wp-content/uploads/2013/11/Candy-Crush-Saga-1.jpg?fit=1200%2C750&ssl=1); }
  .wrap-juegos2 #game7 {
    grid-area: game7;
    background-image: url(https://www.combogamer.com/wp-content/uploads/2018/03/subway-surfers-wide.png); }
  .wrap-juegos2 #game8 {
    grid-area: game8;
    background-color: #ccc;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    padding: 30px 0px; }

@media (max-width: 768px) {
  .wrap-juegos1 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "game1 game1" "game2 game2" "game3 game4";
    column-gap: 20px;
    row-gap: 20px; }
  .wrap-juegos2 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "game5" "game6" "game7";
    column-gap: 20px;
    row-gap: 20px; } }

#footer {
  grid-area: footer;
  background-color: white; }
  #footer .wrap-footer {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #footer .wrap-footer #footer-info {
      margin-top: 20px; }
      #footer .wrap-footer #footer-info a, #footer .wrap-footer #footer-info p {
        color: black;
        font-size: 0.9em;
        font-family: sans-serif;
        margin-left: 20px; }
    #footer .wrap-footer .image-footer {
      width: 30px;
      margin: 0px 10px 20px;
      transition: all 1s; }
    #footer .wrap-footer .image-footer:hover {
      transform: scale(1.2); }
    #footer .wrap-footer h5 {
      text-align: center;
      font-size: 20px;
      font-family: 'Roboto', sans-serif; }

@media (max-width: 768px) {
  .wrap-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; } }
