.wrap {
    width: 88%;
    margin: 0px auto;
    display: flex;
    justify-content: flex-start;
    background-color: #eee;
    padding: 20px;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
    }
    #ubication {
        font-size: 1em;
    }

    .contacto-ubicacion, .contacto-mensaje, .contacto-newsletter {
        margin-bottom: 20px;
    }

    #contacto-principal{
        width: 50%;

        img {
            width: 60px;
            cursor: pointer;
        }

        button {
            background: transparent;
            border: 2px solid black;
            padding: 1em 3em;
            cursor: pointer;
        }
    }

    #contacto-form{
        width: 50%;
        display: flex;
        flex-direction: column;

        input, select, textarea {
            padding: 20px;
            background-color: #ccc;
            border: none;
            margin: 5px 0px;
        }

        #submit {
            background-color: transparent;
            border: 2px solid black;
            cursor: pointer;
        }

        textarea {
            resize: none;
        }

    }
}

@media (max-width: 768px) {

p {
    text-align: center;
}
    .wrap {
        width: 100% !important;
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .contacto-newsletter {
            margin: 0 auto;
        }

    }

}