#footer {
    grid-area: footer;
    background-color: white;

    .wrap-footer {
        width: 88%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #footer-info {
            margin-top: 20px;
            a, p {
                color: black;
                font-size: 0.9em;
                font-family: sans-serif;
                margin-left: 20px;
            }
        }


        .image-footer {
            width: 30px;
            margin: 0px 10px 20px;
            transition: all 1s;
        }

        .image-footer:hover {
            transform: scale(1.2);
        }

        h5 {
            text-align: center;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
        }
    }
}

@media (max-width: 768px) {
    .wrap-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}
