@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#main-index {
    grid-area: main;
    background-color: #eee;
    display: grid;
    grid-template-areas: "principal"
    "ad"
    "update";
    grid-template-columns: 100%;
    grid-template-rows: 550px 100px auto;

    #card-principal {
        grid-area: principal;
        background-image: url(https://media.contentapi.ea.com/content/dam/eacom/images/2022/03/f22-hero-med-futfantasy-7x2-xl.jpg.adapt.crop5x2.1455w.jpg), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .card {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 3em 0em 0em 5em;
            

            img {
                width: 60%;
            }

            p {
                font-size: 1.2em;
                color: white;
                font-family: 'Roboto', sans-serif;
            }

            button {
                background-color: transparent;
                border: 2px solid white;
                padding: 1em 5em;
                color: white;
                cursor: pointer;
                transition: all 500ms;
                font-size: 1em;
            }

            button:hover {
                padding: 1.2em 5.3em;
                color: aqua;
                border: 2px solid aqua ;
            }
        }


        
    }

    #ad-main {
        grid-area: ad;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            margin-left: 5em;
            font-family: 'Roboto', sans-serif;
            font-size: 1.1em;
        }

        button {
            background-color: transparent;
            border: 2px solid black;
            color: black;
            cursor: pointer;
            transition: all 1s;
            font-size: 1em;
            margin-right: 5em;
            padding: 10px;
            font-family: 'Roboto', sans-serif;
        }
    }

    #card-update{
        grid-area: update;
    }

    .wrap {
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #eee;

        h3 {
            font-family: 'Roboto', sans-serif;
            color: black;
            font-size: 1.6em;
        }


        #section-update {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            column-gap: 20px;
            row-gap: 20px;
            margin-bottom: 20px;

            .cardupdate {
                box-shadow: 0px 0px 6px black;
                border-radius: 5px;

                .img-update{
                    width: 100%;
                    cursor: pointer;
                }

                span {
                    font-size: 0.9em;
                    font-family: sans-serif;
                    margin: 0em 0.7em;
                }

                p {
                    font-size: 1em;
                    font-family: 'Roboto', sans-serif;
                    margin: 0em 0.7em;
                }

                .year-update {
                    text-align: center;
                    margin-top: 30%;
                    font-size: 2em;
                    color: #777777;
                    font-family: sans-serif;
                    cursor: pointer;
                }
            }
            

        }

    }
}

@media (max-width: 768px) {

#main-index{
    grid-template-rows: 550px 100px auto !important;
    
    .card {
        width: 60% !important;

        button {
            width: 100%;
        }

    }  
    
    #ad-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;

        p {
            margin: 10px;
        }

        button {
            width: 80%;
            margin: 10px 0px;
        }
    }

    #section-update {
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: repeat(6, auto) !important;
        column-gap: 20px;
        row-gap: 20px;
        margin-bottom: 20px;
    }


}
}