.wrap-nosotros {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto 400px;


    #header-nosotros {
        background-image: url(https://www.cookbooklaboratory.com/wp-content/uploads/2014/06/unternehmen.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .opacity {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .5);
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h2{
                margin: 40px;
                color: white;
            }
        }
        
    }

    #info-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding: 40px 0px;

        h3 {
            margin-bottom: 20px;
            font-family: 'Roboto', sans-serif;
        }


        .card-nosotros {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;

            .internacional, .equipo, .tecnologia {
                display: flex;
                flex-direction: column;
                align-items: center;


                img {
                    width: 70px;
                }

                p {
                    font-size: 1.1em;
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                    margin-top: 10px;
                }
            }
           
        }

    }

    #ubicacion-nosotros {

        iframe {
            width: 100%;
            height: 100%;
        }
    }

}

@media (max-width: 768px) {

    .opacity {
        justify-content: center !important;
    }

    .card-nosotros {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr !important;
        grid-template-columns: auto !important;

        .internacional, .equipo, .tecnologia {
            margin: 20px 0px;
        }
    }
    
}