*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

@import "layout";
@import "header";
@import "main";
@import "contacto";
@import "nosotros";
@import "juegos";
@import "footer";

