body{
    background-color: white;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

@import "layout";
@import "header";
@import "main";
@import "contacto";
@import "nosotros";
@import "juegos";
@import "footer";

